<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>ひろブレット的馬の選び方。及川和恵デザインのキットと完成品をご紹介します。          </title>
    <meta name="keywords" content="ビーズアクセサリー,ビーズ,キット,アミティエ,及川和恵,通販,
" />
    <meta name="description" content="" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://amitie-beads.ocnk.net/rss/rss.php" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://amitie-beads.ocnk.net/phone/" />
    <link rel="canonical" href="http://amitie-beads.ocnk.net/" />

    <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />-->
    <link href="/res/layout001/style/public/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://amitie-beads.ocnk.net/res/layout001/style/common.css?1465885495" rel="stylesheet" type="text/css" media="all" />
    <link href="http://amitie-beads.ocnk.net/res/layout008/style/template.css?1402535647" rel="stylesheet" type="text/css" media="all" />
    <link href="http://amitie-beads.ocnk.net/res/layout001/style/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://amitie-beads.ocnk.net/data/amitie-beads/pc/20141011191102907ad1.css?1413201125" rel="stylesheet" type="text/css" media="all" />



    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://amitie-beads.ocnk.net/res/layout008/js/jquery.js">');</script>
    <script src="http://amitie-beads.ocnk.net/res/layout008/js/pack/ocnk-min.js?1441333926"></script>




<meta name="google-site-verification" content="myAwBf_YtYFs43K4JNJ2aKGGTztg_3HMiU1n-0qnFJU" />
</head>


<body class="top_page_body">
<div id="container" class="jpn_version visitor">

<div id="inner_container">

    <header role="banner">
        <div id="header_container">
            <div id="header">

                <div id="inner_header">

                    <div id="header_top" class="fix_center clearfix">
                        <div id="copy" class="header_top_800">
ひろブレット<br />
一人一馬、馬を持つ時代<br />

                        </div>

                        <div id="header_font_setting">
                            <div class="font_setting">
                                <span class="set_font_title">文字サイズ<span class="colon">:</span></span>
                                <span class="set_font_normal"></span><span class="set_font_large"></span>
                            </div>
                        </div>



                    </div>


                    <div id="header_middle" class="fix_center clearfix">

                        <div id="shoplogo" itemscope="itemscope" itemtype="http://schema.org/Organization">
                            <a itemprop="url" href="http://amitie-beads.ocnk.net">
                                <img itemprop="logo" src="/images/hiro.jpg" width="80" height="80" alt="accessories boutique amitie" />
                            </a>
                        </div>






                        <div id="search" itemscope="itemscope" itemtype="http://schema.org/WebSite">
                            <meta itemprop="url" content="http://amitie-beads.ocnk.net" />
                            <form class="search_form" method="get" action="http://amitie-beads.ocnk.net/product-list" role="search" itemprop="potentialAction" itemscope="itemscope" itemtype="http://schema.org/SearchAction">
                                <meta itemprop="target" content="http://amitie-beads.ocnk.net/product-list/?keyword={keyword}" />
                                <input type="search" class="largesize searchform" name="keyword" value="" placeholder="商品検索" itemprop="query-input" />
                                <span class="global_btn"><input type="submit" class="searchinput btn_size_small btn_color_common" name="Submit" value="検索" /></span>
                            </form>
                        </div>


                    </div>


                    <div id="header_bottom" class="fix_center clearfix">
                        <div id="carttop">
                            <div class="shopping_cart_button has_cart_popup" data-empty-text="">
                                <div class="cartbtn">
                                    <a href="http://amitie-beads.ocnk.net/cart">
                                        <span class="cartquantity">0</span>
                                        <span class="cartbtn_text">カートの中身</span>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="signin guestmember">
                            <div class="signin_box">
                                <ul>
                                    <li class="signin_top">
                                        <a href="https://amitie-beads.ocnk.net/member-login" class="secure_link">ログイン</a>
                                    </li>
                                    <li class="register_top">
                                        <a href="https://amitie-beads.ocnk.net/register" class="secure_link">新規登録はこちら</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>


                </div>



                <nav role="navigation">

                    <div id="header_navigation">
                        <div id="globalnavi" class="clearfix" data-drilldown="off">
                            <ul class="fix_center clearfix pre_load_nav dropdown">
                                <li class="header_nav h_home nav_on posleft">
                                    <a href="http://amitie-beads.ocnk.net/" class="nav_link"><span class="nav_box"><img src="http://amitie-beads.ocnk.net/res/layout008/img/navi_home_bg.gif" data-x2="http://amitie-beads.ocnk.net/res/layout008/img/navi_home_bg_x2.gif" width="45" height="45" alt="ホーム" /></span></a>
                                </li>
                                <li class="header_nav h_category">
                                    <div class="header_category">
                                        <a href="javascript:void(0);" class="nav_link"><span class="nav_box">商品カテゴリ一覧</span></a>
                                    </div>
                                    <ul class="sub_menu">
                                        <li class="all_items">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list" class="item_list_link">全商品</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory11">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/11" class="item_list_link">完成品</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory1">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/1" class="item_list_link">necklace</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory8">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/8" class="item_list_link">ring</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory2">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/2" class="item_list_link">bracelet</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory3">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/3" class="item_list_link">earring&amp;pierce</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory4">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/4" class="item_list_link">brooch</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory5">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/5" class="item_list_link">strap&amp;bag charm</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory6">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/6" class="item_list_link">metal（金具）</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory9">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/9" class="item_list_link">書籍</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory14 posbottom">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/14" class="item_list_link">ギフト用ペーパーバッグ（無料）</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header_nav h_group">
                                    <div class="header_group">
                                        <a href="javascript:void(0);" class="nav_link"><span class="nav_box">PIC UP ITEM</span></a>
                                    </div>
                                    <ul class="sub_menu">
                                        <li class="h_group1 posbottom">
                                            <a href="http://amitie-beads.ocnk.net/product-group/1" class="item_list_link">Autumn Colors</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header_nav h_profile">
                                    <a href="http://amitie-beads.ocnk.net/profile" class="nav_link"><span class="nav_box">PROFILE</span></a>
                                </li>
                                <li class="header_nav h_diary">
                                    <a href="http://amitie-beads.ocnk.net/diary" class="nav_link"><span class="nav_box">COORDINATE  DIARY</span></a>
                                </li>
                                <li class="header_nav h_mailmagazine">
                                    <a href="https://amitie-beads.ocnk.net/mail" class="nav_link secure_link"><span class="nav_box">メールマガジン</span></a>
                                </li>
                                <li class="header_nav h_help">
                                    <a href="http://amitie-beads.ocnk.net/help" class="nav_link"><span class="nav_box">ご利用案内</span></a>
                                </li>
                                <li class="header_nav h_legal posright">
                                    <a href="http://amitie-beads.ocnk.net/info" class="nav_link"><span class="nav_box">特定商取引法表示</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </nav>


            </div>
        </div>

    </header>
    <%= yield %>
    <footer>

<div id="pagetop">
    <div id="inner_pagetop" class="fix_center"><a href="#container" class="to_pagetop">ページトップへ</a></div>
</div>



<div id="ochanoko" class="footer_top">
    <div class="fix_center" id="inner_ochanoko">
        <div>Powered by <a href="http://www.ocnk.net" title="ホームページ作成とショッピングカート付きネットショップ開業サービス" target="_blank" rel="nofollow">おちゃのこネット </a></div>
        <p>ホームページ作成とショッピングカート付きネットショップ開業サービス</p>
    </div>
</div>



<div id="footer">








    <div id="globalnavi_footer">
        <div class="fix_center column_layout column4 clearfix">
            <div class="footer_navi_box footer_navi_box_left">
                <ul class="footer_navi_left">
                    <li class="footer_navi f_home nav_on">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/" class="footer_navi_link">ホーム</a>
                        </div>
                    </li>
                    <li class="footer_navi f_register">
                        <div class="footer_navi_row">
                            <a href="https://amitie-beads.ocnk.net/register" class="footer_navi_link secure_link">新規登録はこちら</a>
                        </div>
                    </li>
                    <li class="footer_navi f_cart">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/cart" class="footer_navi_link">ショッピングカート</a>
                        </div>
                    </li>
                    <li class="footer_navi f_signin">
                        <div class="footer_navi_row">
                            <a href="https://amitie-beads.ocnk.net/member-login" class="footer_navi_link secure_link">ログイン</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer_navi_box">
                <ul class="footer_navi_center">
                    <li class="footer_navi f_page_6">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/page/6" class="footer_navi_link">デザインについて</a>
                        </div>
                    </li>
                    <li class="footer_navi f_category">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/category" class="footer_navi_link">商品カテゴリ一覧</a>
                        </div>
                    </li>
                    <li class="footer_navi f_news">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/news" class="footer_navi_link">NEW  INFORMATION</a>
                        </div>
                    </li>
                    <li class="footer_navi f_newitem">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/new" class="footer_navi_link item_list_link">NEW  ITEM  ＊新作商品＊</a>
                        </div>
                    </li>
                    <li class="footer_navi f_recommend">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/pickup" class="footer_navi_link item_list_link">REVIVAL＊ 再販商品 ＊</a>
                        </div>
                    </li>
                    <li class="footer_navi f_group">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/group" class="footer_navi_link">PIC UP ITEM</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer_navi_box">
                <ul class="footer_navi_center">
                    <li class="footer_navi f_profile">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/profile" class="footer_navi_link">PROFILE</a>
                        </div>
                    </li>
                    <li class="footer_navi f_page_7">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/page/7" class="footer_navi_link">ラッピングについて</a>
                        </div>
                    </li>
                    <li class="footer_navi f_diary">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/diary" class="footer_navi_link">COORDINATE  DIARY</a>
                        </div>
                    </li>
                    <li class="footer_navi f_mailmagazine">
                        <div class="footer_navi_row">
                            <a href="https://amitie-beads.ocnk.net/mail" class="footer_navi_link secure_link">メールマガジン</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer_navi_box footer_navi_box_right">
                <ul class="footer_navi_right">
                    <li class="footer_navi f_legal">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/info" class="footer_navi_link">特定商取引法表示</a>
                        </div>
                    </li>
                    <li class="footer_navi f_help">
                        <div class="footer_navi_row">
                            <a href="http://amitie-beads.ocnk.net/help" class="footer_navi_link">ご利用案内</a>
                        </div>
                    </li>
                    <li class="footer_navi f_inquiry">
                        <div class="footer_navi_row">
                            <a href="https://amitie-beads.ocnk.net/contact" class="footer_navi_link secure_link">お問い合せ</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </body>
</html>

<li class="menuItem"><a href="/images/horse4.jpg" data-x2="/images/horse4.jpg" width="100" height="100" alt="slide 4" /></a></li>
<li class="menuItem"><a href="javascript:void(0);"><img src="/images/horse3.jpg" data-x2="/images/horse3.jpg" width="100" height="100" alt="slide 3" /></a></li>
